In [2]:
import pandas as pd
import numpy as np
import string
res = list(range(13))
res[2] = np.nan
df = pd.DataFrame({
    'toy':['car'] * 4 + ['train'] * 5 + ['ball'] * 3 + ['truck'],
    'toy1':['car'] * 2 + ['train'] * 2 + ['ball'] * 6 + ['truck'] * 3,
    'color': list(string.ascii_letters)[:13]
    })

df['color'].fillna(df.groupby('toy')['color'].transform(lambda x: pd.Series.mode(x).iat[0]), inplace=True)

      toy   toy1 color
0     car    car     a
1     car    car     b
2     car  train     c
3     car  train     d
4   train   ball     e
5   train   ball     f
6   train   ball     g
7   train   ball     h
8   train   ball     i
9    ball   ball     j
10   ball  truck     k
11   ball  truck     l
12  truck  truck     m

In [5]:
df.groupby('toy').agg({'toy': pd.Series.mode})

         toy
toy
ball    ball
car      car
train  train
truck  truck

In [5]:
pd.Series.mean(pd.Series([1, 2, np.nan]))

1.5

In [1]:
df = pd.DataFrame({"1": np.arange(10), "2": np.arange(10), "3": np.arange(10)})
df

NameError: name 'pd' is not defined

In [18]:
pd

array([[45],
       [45]])

In [8]:
def f(*args):
    np.sum(args)
df['col_3'] = df.apply(lambda x: f((x['col 1'], x['col 2'])), axis=1)

KeyError: 'col 1'

In [25]:
from scipy import stats
df.groupby(['toy1','toy'])['color'].agg(pd.Series.mode)

toy1   toy
ball   ball      blue
       train      red
car    car       blue
train  car         []
truck  ball       red
       truck    green
Name: color, dtype: object

In [14]:
df.groupby(['toy', 'toy1'])['color'].fi

In [10]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'toy':['car'] * 4 + ['train'] * 5 + ['ball'] * 3 + ['truck'],
    'color':['red', 'blue', 'blue', np.nan, 'green', np.nan,
             'red', 'red', np.nan, 'blue', 'red', np.nan, 'green']
    })
df['color']=df['color'].fillna(df.groupby('toy')['color'].transform(lambda x:x.mode().iat[0]))
df

      toy  color
0     car    red
1     car   blue
2     car   blue
3     car   blue
4   train  green
5   train    red
6   train    red
7   train    red
8   train    red
9    ball   blue
10   ball    red
11   ball   blue
12  truck  green

In [ ]:
# columns_to_drop = ['id_x']
# preprocessor = ColumnTransformer(
#     transformers=[
#         ('column_dropper', 'drop', columns_to_drop),
#     ],
#     remainder='passthrough'
# )

# cols = df.columns[1:]
# pd.DataFrame(preprocessor.fit_transform(df), columns=cols).head(1)